.About {
  font-size: calc(12px + 2vmin);
  color: var(--base-text-color);
  min-height: 100vh;
  text-align: left;
  padding: .5em;
  vertical-align: top;
}

.About-title {
  font-size: 1.25em !important;
}

.About-subtitle {
  color: var(--base-theme-color);
  font-size: .8em;
}

.About-diagram {
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  margin-bottom: 1.5em;
}

.About-message {
  padding: .5em;
  font-size: .65em;
  color: var(--base-shaded-text-color);
}

h3 {
  color: var(--base-theme-color) !important;
  font-size: 1.5em !important;
}

.About-diagram-container {
  width: 100%;
  text-align: left;
  padding-top: .5em;
}

.About-microservice-diagram {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 20em;
  width: auto;
  padding-top: 1em;
  padding-bottom: 1.5em;
  padding-left: 1.75em;
}
