.Header {
  font-weight: bolder;
}

.Header-welcome {
  font-weight: normal;
  color: var(--base-theme-color) !important;
  vertical-align: middle;
  padding-right: .5em;
  font-size: .75em !important;
}

.Header-logo {
  height: 50px;
}

.Header-title {
  font-weight: normal;
  vertical-align: middle;
  font-size: 16pt;
  color: var(--base-text-color) !important;
}

.Header-stack {
  font-weight: bolder;
  color: var(--logo-stack-color) !important;
}

.Header-user-greeting {
  font-weight: normal;
  color: var(--base-shaded-text-color);
  font-size: .65em;
  vertical-align: middle;
  padding-right: 1em;
  margin-top: .5em;
}

.Header-button {
  margin-top: 10px;
}

.Header-custom-nav {
  background-color: var(--background) !important;
  border-bottom: 1px solid silver;
}

.Header-link {
  padding-top: .2em !important;
  font-size: 12pt !important;
  font-weight: normal !important;
  margin-top: .1em !important;
}

.Header-link.active a {
  color: var(--base-theme-color) !important;
  font-weight: bold !important;
}

.Header-link a {
  color: var(--base-shaded-text-color) !important;
  font-weight: normal !important;
  text-decoration: none;
  padding-right: .5em !important;
  padding-left: .5em !important;
}

.Header-link a:hover {
  color: var(--base-link-color) !important;
  font-weight: normal !important;
}

.Header-provider-tag {
  font-weight: bolder;
  color: var(--base-theme-color) !important;
}

.Header-about {
  text-decoration: none;
}

.modal-content {
  background-color: var(--background) !important;
  color: var(--base-alt-text-color) !important;
}

.modal-header .btn-close {
  color: var(--base-alt-text-color) !important;
}