<nav class="navbar navbar-expand-lg bg-body-tertiary Header-custom-nav" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand Header-title" href="/">Amp<span class="Header-stack">Stack</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active Header-link" href="#about">About</a>
        </li>
        <% if(currentUser) { %>
          <li class="nav-item">
          <a class="nav-link Header-link" href="#workspace">Workspace</a>
        </li>
        <% } %>
      </ul>
      <% if(currentUser && currentUser.attributes['email']) { %>
        <div class="nav-item dropdown d-flex">
          <a class="nav-link dropdown-toggle Header-user-greeting" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span><span className="Header-provider-tag"><%= providerTag + ':' %></span> <%= currentUser.attributes['email'] %></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a id="profileLink" class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a id="signOutLink" class="dropdown-item" href="#">Sign Out</a></li>
          </ul>
        </div>
      <% } else { %>
        <div class="nav-item d-flex">
          <span class="Header-welcome">Welcome</span>
          <button id="signInButton" class="btn btn-primary btn-sm signin-button">Sign In</button>
        </div>
      <% }  %>
    </div>
  </div>
</nav>
