.Welcome {
  font-size: calc(14px + 2vmin);
  min-height: 75vh;
  text-align: center;
  padding: 1.5em;
}

.Welcome-message {
  color: var(--base-alt-text-color) !important;
  font-weight: 200;
  font-size: .8em;
}

.Welcome-intromessage {
  color: var(--base-text-color);
  font-weight: 200;
  font-size: .8em;
}

.Welcome-submessage {
  color: var(--base-alt-text-color);
  font-weight: 200;
  font-size: .6em;
}

.Welcome-user {
  font-size: 1em;
  color: var(--base-theme-color);
  font-weight: bolder;
}

.logo {
  height: 3em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
  opacity: .8;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  opacity: 1;

}
.logo.backbone:hover {
  filter: drop-shadow(0 0 2em #6956c9aa);
  opacity: 1;

}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
  opacity: 1;

}
.logo-bar {
  white-space: nowrap;
  text-align: center;
}

.tag-line {
  white-space: nowrap;
  color: var(--base-alt-subtext-color) !important;
  text-align: center;
  font-size: .8em !important;
}
