@import '../colors';

.Header {
  font-weight: bolder;
}

.Header-welcome {
  font-weight: normal;
  color: $base-theme-color !important;
  vertical-align: middle;
}

.Header-logo {
  height: 50px;
}

.Header-title {
  font-weight: normal;
  vertical-align: middle;
  font-size: 16pt;
  color: $base-text-color !important;
}

.Header-stack {
  font-weight: bolder;
  color: $logo-stack-color !important;
}

.Header-user-greeting {
  font-weight: normal;
  color: $base-shaded-text-color;
  font-size: .65em;
  vertical-align: middle;
  padding-right: 1em;
  margin-top: .5em;
}

.Header-user-profile-title {
  font-weight: normal;
  color: $base-shaded-text-color;
  font-size: 1em;
  padding-right: 1em;
}

.Header-button {
  margin-top: 10px;
}

.custom-nav {
  background-color: $background !important;
  border-bottom: 1px solid silver;
}

.Header-link {
  padding-top: .2em;
  font-size: 12pt;
  font-weight: lighter;
  margin-top: .1em;
}

.Header-link a {
  color: $base-shaded-text-color;
  font-style: normal;
  text-decoration: none;
  padding-right: .5em;
  padding-left: .5em;
}

.Header-link a:hover {
  color: $base-link-color !important;
  font-style: normal;
}

.Header-provider-tag {
  font-weight: bolder;
  color: $base-theme-color !important;
}

.Header-about {
  text-decoration: none;
}

.modal-content {
  background-color: $background !important;
  color: $base-alt-text-color !important;
}