@import '../colors';

.QuoteViewer {
  text-align: center;
  width: 100%;
  vertical-align: middle;
  padding-top: .5em;
}

.QuoteViewer-loading {
  min-height: 40vh;
  color: $base-theme-color;
  vertical-align: middle;
  display: inline-block;
  padding-top: 5em;
  font-size: .8em;
}

.carousel-caption {
  bottom: 4em !important;
  top: 4em !important;
}

.quote-text {
  font-weight: lighter;
  color: $base-shaded-text-color;
  font-size: 1.5em;
  display: inline-block;
}

.quote-author {
  color: $base-alt-subtext-color;
  font-size: .9em;
}

.markdown {
  display: inline-block !important;
}
.markdown p {
  display: inline-block !important;
}
