@import '../colors';


.UserProfileModal-value {
  color: $base-shaded-text-color;
}

.UserProfileModal-title {
  font-weight: normal;
  color: $base-shaded-text-color;
  font-size: .9em;
  padding-right: 1em;
}
