$base-theme-color: #e14a5f;
$base-theme-color: #f97672;

$base-link-color: $base-theme-color;
$base-header-color: $base-theme-color;

$base-text-color: #FFFFFF;
$base-shaded-text-color: #DDDDDD;
$base-alt-text-color: #999;
$base-alt-subtext-color: #817474;
$background: #282828;
$background-alt: #303030;

$header-background: #766f6f;

$amplify-login-tabs-color: #766f6f;
$amplify-login-tabs-hover-color: #FFFFFF;

$tab-background-color: #766f6f;
$tab-border-color: #766f66;

$logo-stack-color: #9AC7BF;

$odd-row-color: #303030;
$even-row-color: #514e4e;
